.fixed-header{
    position: fixed;
    top: 0;
    width: 100%;
}
.content-wrapper{
    position: fixed;
    top: 45px;
    bottom: 50px;
    width: 100%;
}
.am-tabs-tab-bar-wrap{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}